<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.min.css" type="text/css">

    <title>Uptodater</title>
</head>
<body>

<!--[if lt IE 9]>
<script src="components/es5-shim/es5-shim.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<![endif]-->


<div id="wrapper-outer">
<div id="wrapper">
<div id="wrapper-inner">
    <div class="container">
        <div class="page-header clearfix">
            <div class="header-logo">
                <h1><a href="/">Uptodater</a><small>Github updates</small></h1>
            </div>
            <div class="user-block" ng-controller="UserBlockCtrl">
                <user-block></user-block>
            </div>
        </div>

        <div id="main" class="row">
            <div class="col-lg-3">
                <div class="bs-sidebar">
                    <ul class="nav bs-sidenav main_menu">
                        <li><a href="#/myFeed" class="">My feed</a></li>
                        <li><a href="#/feed">Latest releases</a></li>
                        <li><a href="#/settings" class="">Settings</a></li>
                        <li><a href="#/status" class="">Status</a></li>
                    </ul>
                </div>
                
                <!-- <div class="sidebar_block">                    
                </div> -->

                <div ng-controller="FilterCtrl" class="sidebar_block">
                    <div ng-include="'app/views/filters.html'"></div>
                </div>
            </div>
            <div class="col-lg-9"  ng-view class="main_content"></div>
        </div>
    </div>

    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/components/underscore/underscore.js"></script>
    <script src="/components/moment/moment.js"></script>
    <script src="/components/socket.io-client/dist/socket.io.js"></script>

    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/angular-route/angular-route.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/routes.js"></script>

    <script src="/app/filters/repoFilter.js"></script>

    <script src="/app/controllers/ReposListCtrl.js"></script>
    <script src="/app/controllers/FeedCtrl.js"></script>
    <script src="/app/controllers/MyFeedCtrl.js"></script>
    <script src="/app/controllers/RepoCtrl.js"></script>
    <script src="/app/controllers/FilterCtrl.js"></script>
    <script src="/app/controllers/StatusCtrl.js"></script>
    <script src="/app/controllers/UserBlockCtrl.js"></script>

    <script src="/app/directives/userBlock.js"></script>
    

    <script src="/app/services/repos.js"></script>
    <script src="/app/services/socket.js"></script>
    <script src="/app/services/Repo.js"></script>

</body>
</html>