<h5 ng-hide="filterLanguage.length === 0">Applied filters: </h5>

<div class="filters">
    <span class="label label-primary" ng-repeat="filter in filterLanguage" style="margin-right:3px;">
        {{filter}}
        <i class="icon-remove pointer" ng-click="$parent.remLangFilter(filter)"></i>
    </span>
</div>


<h5>Filter by language</h5>

<ul>
    <li ng-repeat="lang in languages" ng-show="!$parent.isFilterActive(lang);">
        <a href="" ng-click="$parent.addLangFilter(lang)">{{lang}}</a>
    </li>
</ul>